<h1>Editing Heartbeat Destination</h1>

<%= render 'form', heartbeat_destination: @heartbeat_destination %>

<%= link_to 'Show', @heartbeat_destination %> |
<%= link_to 'Back', heartbeat_destinations_path %>
