<div class="col-6 center">
  <h1>New Heartbeat Destination</h1>

  <%= render 'form', heartbeat_destination: @heartbeat_destination %>

  <%= link_to 'Back', switch_heartbeat_destinations_path(@heartbeat_destination.switch) %>
</div>
