<div class="jumbotron">
  <div class="container">
    <h1>Detonate</h1>
    <p>Some text</p>
    <br>
    <p>
      <%= button_to 'Get Info', root_path, method: :get,  class: "btn btn-primary btn-lg"%>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3>Detonate</h3>
      <p>More Text</p>
    </div>
    <div class="col-lg-6">
      <h3>App</h3>
      <p>More Text Again</p>
    </div>
  </div>
</div>
