<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Detonate</h1>
    <p>Detonate is a <a href="https://en.wikipedia.org/wiki/Dead_man%27s_switch#Software" target="_blank">software dead man's switch</a> designed to activate if an operator becomes unresponsive.</p>
  </div>
</div>

<div class="row center">
  <div class="col-lg-4">
    <h3>Create A "Switch"</h3>
    <p>A switch is a set of data you want saved. You configure settings to specify how often you should be sent heartbeats and how many should be missed before you are considered unresponsive.</p>
  </div>
  <div class="col-lg-4">
    <h3>Receive "Heartbeats"</h3>
    <p>At your chosen interval you're sent an email with a link. Clicking the link considers you responsive. You configure how often these should be sent and how many need to be missed.</p>
  </div>
  <div class="col-lg-4">
    <h3>Detonate Your Switch</h3>
    <p>If too many of your heartbeat attempts are missed, the switch's information that's stored in Detonate is sent to the email addresses you've configured. Swtich data is encrypted and only accessible to you.</p>
  </div>
</div>
