<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Detonate</h1>
    <p>Detonate is a <a href="https://en.wikipedia.org/wiki/Dead_man%27s_switch#Software" target="_blank">Software Dead Man's Switch</a>. We'll send you heartbeat attempts to make sure you're ok, and if not, we will email your stored information to the address of your choice. You can configure how often we should check in with you, and how many missed heartbeats it takes to release your stored information. All data is stored encrypted at rest and is only ever visible to you and the address you send it to. The code is opensource and availble on <a href="https://github.com/detonateapp/detonate" target="_blank">GitHub</a></p>

    <p>This service is offered for free in the hope that others can find value in it. If you're in journalism, or any field where your life may be at risk due to the information you know, this service helps to provide insurance that others know too, should the worst happen.</p>
    <p style="display: inline-block">
      <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign Up ✅</a>
    </p>
    <form style="display: inline-block; margin-left: 20px;" action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="business" value="66Y597DWDQQS4" />
      <input type="hidden" name="item_name" value="Detonate App" />
      <input type="hidden" name="currency_code" value="USD" />
      <button action="submit" class="btn btn-primary btn-lg">Dontate 💲</button>
    </form>
  </div>
</div>

<div class="row center">
  <div class="col-lg-4">
    <h3>Create A "Switch"</h3>
    <p>A switch is a set of data you want saved, and some settings to configure how often we should send heartbeat attempts, and how many should be missed before we consider you "dead".</p>
  </div>
  <div class="col-lg-4">
    <h3>We Send "Heartbeats"</h3>
    <p>At your chosen interval we'll send you an email with a link. Clicking the link lets us know you're alive and well. You can configure how often these should come, and how many need to be missed.</p>
  </div>
  <div class="col-lg-4">
    <h3>Detonate Your Switch</h3>
    <p>If too many of your heartbeat attempts are missed, we email the information you've stored with us to the email address you've configured. We never see the data you stored.</p>
  </div>
</div>
