<div class="col-6 center">
  <h1>New Switch Destination</h1>

  <%= render 'form', switch_destination: @switch_destination %>

  <%= link_to 'Back', switch_switch_destinations_path(@switch_destination.switch) %>
</div>