@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

$white: white;
$black: black;

.navbar {
  margin-bottom: 60px;
  background: $black;
}

.center {
  margin: auto;
}
