<footer class="footer">
  <div class="container">
    <span class="text-muted">Made with ❤️ by <a href="https://github.com/joshfng" target="_blank">joshfng</a></span> | <span class="text-muted">Code on <a href="https://github.com/joshfng/detonate" target="_blank">GitHub</a></span>
  </div>
</footer>
